#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body ul {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 2.4rem;
  
}

a{
  display: flex;
  gap: .3rem;
}

svg {
  width: 3rem;
  height: 3 rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_options {
  list-style: none;
  display: flex;
}

.nav_options li a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #646cffaa;
  text-decoration: none;

}
nav h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  
}
header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Add your preferred background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
}